html{
    text-align: center;
    /*This places the text in the center*/
}
body{
    background: rgb(2,0,36);
    /*Sets the background of the body*/
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #89a6ec, #78b2f3, #68bdf6, #51ccfb, #40dbfb, #44e8f5, #5cf4eb);
    /*Changes the background with linear gradient*/
    color:black;
    /*Changes the text color*/
}
#playfield{
    margin: 10px auto 10px auto;
    /*Aligns the picture to center*/
    border: 2px solid black;
    /*Creates a border*/
    border-radius: 2cm;
    /*Creates Border radius around the edges*/
    color:black;
    background-color: rgb(255, 255, 255);
    /*White Background*/
    width:15cm;
    height:12cm;
    /*Sets the size of the divider*/
    /*Sets the size, border, border color of the button*/
}
#Selected{
    visibility: hidden;
    /*Hides the div*/
}
#coin{
    height: 5cm;
    /*Sets size for the coin div*/
}
#img{
    width: 5cm;
}
#playerchoice{
    color: #d16ba5;
    /*Sets text color*/
}
#computerchoice{
    color: #89a6ec;
    /*Sets text color*/
}
#computerscore{
    color: red;
    /*Sets text color*/
}
#playerscore{
    color: blue;
    /*Sets text color*/
}
#winner{
    color: mediumaquamarine;
    height: 1cm;
    /*Sets text color*/
}
#hyperlinks{
    margin: 10px auto 10px auto;
    /*Aligns the picture to center*/
    font-size: 20px;
    /*font size*/
    color: black;
    /*Text Color*/
    width: 35cm;
    /*Divider widths*/
    background-color: white;
    /*Background Color*/
    border: 2px solid black;
}